@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #d74b4b;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card,
.wrap{
	position: relative;
	width: 300px;
	height: 150px;
	border-radius: 12px;
	perspective: 350px;   //원근법 ,transform과 같이 사용 
}
.wrap {
	transition: 1.5s;  
	transform-style: preserve-3d; //카드 뒤집기 핵심
}
.card {
	&:hover .wrap{
		transform: rotateX(180deg);
	}
}
.back,
.front {
	position: absolute;
	width: 300px;
	height: 150px;
	border-radius: 12px;
	top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	transform-origin: 50% 0;
	background: #fff;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
	z-index: 1;
}
.back {
	transform: rotateX(180deg) translate(-50%,-50%);
}

@keyframes driving {
  0% {
    margin-top: 5px;
		transform: scaleY(0.95) skew(1deg);
  }
  100% {
   	margin-top: 0px;
  }
}
.bycicle,
.car {
	position: relative;
	padding-top: 35px;
	animation: driving 0.7s infinite linear alternate;
}

.street,
.sky {
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}
.street {
	height: 42px;
	background: #3b3b3b;
	border-radius: 0 0 12px 12px;
}
.sky {
	height: 150px;
	background: #ededed;
	border-radius: 12px;
}
.road,
.cloud {
	position: absolute;
	height: 1px;
	border-radius: 1px;
}

$total: 15;

@for $i from 1 to $total {
  .road_#{$i} {
		top: random(35) + px;
		right: 0;
    width: random(50) + px;
		border-bottom: random(2) + px solid #dbdbdb;
		transition: 3s;
		animation: bottom random(40) * 0.1 + 0.3 + s linear infinite;
  }
	.cloud_#{$i} {
		top: random(150) + px;
		right: 0;
    width: random(50) + px;
		border-bottom: random(2) + px solid #cfcfcf;
		transition: 3s;
		animation: bottom random(40) * 0.1 + 0.3 + s linear infinite;
  }
}

@keyframes bottom {
	100% {
		right: 300px;
	}
}